<!doctype html>
<!--
    vim:ft=vue
-->
<html>
    <head>
        <title>viewer</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app" style="font-family:monospace">
            <form>
                <input type="file" @change="readSrc">
            </form>
            <button @click="step-=1" :disabled="step<=0">← prev</button>
            <span v-if="trace!=null"> {{step + 1}}/{{step_max}} </span>
            <span v-else> -/- </span>
            <button @click="step+=1" :disabled="step+1>=step_max">next →</button>
            <main>
                <div style="flex:2">
                    <ol v-if="trace!=null">
                        <li v-for="(l, idx) in trace.src" :class="{selected: idx==line}">{{ l }}</li>
                    </ol>
                </div>
                <div style="flex:1">
                    <ul v-if="trace!=null">
                    <var-list v-for="(v, k) in vars" :name="k" :value="v" :key="JSON.stringify(k)+':'+JSON.stringify(v)"></var-list>
                    </ul>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
