<!doctype html>
<html>
    <head>
        <title>viewer</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <main>
                <div id="src-view" style="flex:2">
                    <ol id="src-cont">
                    </ol>
                </div>
                <div id="var-view" style="flex:1">
                    <ul id="var-cont">
                    </ul>
                </div>
            </main>
            <button @click="prevStep" :disabled="cnt<=0">← prev</button>
            <span v-if="max_cnt!=0"> {{cnt + 1}}/{{max_cnt}} </span>
            <span v-if="max_cnt==0"> -/- </span>
            <button @click="nextStep" :disabled="cnt+1>=max_cnt">next →</button>
            <form>
                <input type="file" @change="readSrc">
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
